@model ContactoModel

<div class="card shadow-sm border-0 mt-4">
    <div class="card-header bg-dark text-white">
        <h4 style="color:white;"class="mb-0"><i class="fas fa-user-plus text-success"></i> Agregar nuevo contacto</h4>
    </div>

    <div class="card-body bg-light">
        <form asp-action="Create" method="post">
            <div class="form-group mb-3">
                <label asp-for="NombreCompleto" class="form-label text-dark fw-bold">Nombre Completo</label>
                <input asp-for="NombreCompleto" class="form-control border-dark-subtle" />
                <span asp-validation-for="NombreCompleto" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Direccion" class="form-label text-dark fw-bold">Direccion</label>
                <input asp-for="Direccion" class="form-control border-dark-subtle" />
                <span asp-validation-for="Direccion" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Telefono" class="form-label text-dark fw-bold">Telefono</label>
                <input asp-for="Telefono" class="form-control border-dark-subtle" />
                <span asp-validation-for="Telefono" class="text-danger small"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="CorreoElectronico" class="form-label text-dark fw-bold">Correo Electronico</label>
                <input asp-for="CorreoElectronico" class="form-control border-dark-subtle" />
                <span asp-validation-for="CorreoElectronico" class="text-danger small"></span>
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success px-4">
                    <i class="fas fa-user-plus"></i> Guardar
                </button>
                <a asp-action="Create" class="btn btn-outline-secondary px-4">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}